<html>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <head>
    <title>Annotation App</title>
</head>
<body>
    <div align="right">
    <a href="/">Home</a>
    |<a href="/files">Gallery</a>
    </div>
    <hr>
    <script type="text/javascript">
    function new_button(){
            var elements = document.getElementById("new_object").elements;
            var item = elements.item(0).value;
            var but = document.createElement("BUTTON");
            but.innerHTML = item;
            but.id = item;
            but.style = "height: 25px; width: 100px;"
            but.clicked = false;
            but.addEventListener('click', function() {button_click(item); });
            var element = document.getElementById("btn-group");
            element.appendChild(but);
        }
    </script>
    
    
    <form id="new_object" onSubmit="new_button(); reset(); return false;">
            <label for="object">Object: </label><br>
            <input type="text" id="object" name="object"><br>
        </form>

    
    <div class="btn-group" id="btn-group"></div>


    <iframe id="iframe"  height="1080" src="http://aefuentes.com/images"></iframe>



    
    <canvas id="canvas" width="1440" height="1080" style="border: 5px solid #000000;">

        
        
    <script type="text/javascript">
        var canvas = document.getElementById('canvas'),
        image_list = [],
        current_img,
        ctx = canvas.getContext('2d'),
        object_list = [],
        drag = false,
        background = new Image(),
        to_edit = 0,
        mouseX, 
        mouseY,
        closeEnough = 10,
        object,
        dragTL=dragBL=dragTR=dragBR=false;
       
        function set_image_list(image){
            image_list.push(image)
        }

        function find_pos(image){
            for (let i = 0; i < image_list.length; i++){
                if (image_list[i] == image)
                    return i;
            }
            return 0;
        }

        function next_image(){
             let index  = find_pos(current_img);
             display_image(image_list[index+1]);

        }

        function export_current(){
            let tmp = current_img;

            next_image();
            image_list.splice(find_pos(tmp),1);
            document.getElementById('iframe').contentWindow.document.getElementById(tmp).remove();

            reset_annotations();
            draw();
        }

        function button_click(item){
                init();
            object = item;
            console.log("clicked");
        }

        function reset_annotations(){
            object_list = []
        }
        
        function display_image(image){
            background.src = "/static/images/" + image;
            current_img = image;
            ctx.drawImage(background,0,0);
        
        }
        
        function init() {
          canvas.addEventListener('mousedown', mouseDown, false);
          canvas.addEventListener('mouseup', mouseUp, false);
          canvas.addEventListener('mousemove', mouseMove, false);
        }
       

        function mouseDown(e) {
            mouseX = e.pageX - this.offsetLeft-5;
            mouseY = e.pageY - this.offsetTop-5;
            let found = false;

            
            for (let i = 0; i < object_list.length; i++){
                tmp_rect = object_list[i][1];
                tmp_object = object_list[i][0];
                
                if( checkCloseEnough(mouseX, tmp_rect.startX) && checkCloseEnough(mouseY, tmp_rect.startY) ){
                    dragTL = true;
                    to_edit = i;
                }
                else if( checkCloseEnough(mouseX, tmp_rect.startX+tmp_rect.w) && checkCloseEnough(mouseY, tmp_rect.startY) ){
                    dragTR = true;
                    to_edit = i;
                }
              // 3. bottom left
                else if( checkCloseEnough(mouseX, tmp_rect.startX) && checkCloseEnough(mouseY, tmp_rect.startY+tmp_rect.h) ){
                    dragBL = true;
                    to_edit = i;
                }
              // 4. bottom right
                else if( checkCloseEnough(mouseX, tmp_rect.startX+tmp_rect.w) && checkCloseEnough(mouseY, tmp_rect.startY+tmp_rect.h) ){
                    dragBR = true;
                    to_edit = i;
                }
                
            }
            
            found = dragTL || dragTR || dragBL || dragBR;
            
            if (!found){
                to_edit = object_list.length-1;
                if (object_list.length > 0){
                    to_edit +=1;
                    var tmp_rect = {}
                    tmp_rect.startX = mouseX;
                    tmp_rect.startY = mouseY;
                    object_list.push([object,tmp_rect]);
                }
                
                else if(object_list.length == 0){
                    to_edit = 0;
                    var tmp_rect = {}
                    tmp_rect.startX = mouseX;
                    tmp_rect.startY = mouseY;
                    
                    object_list.push([object,tmp_rect]);
                }               
            
                console.log(to_edit)
                dragBR = true;
            }
            
        }

            function checkCloseEnough(p1, p2){
              return Math.abs(p1-p2)<closeEnough;
            }
            function mouseUp() {
              dragTL = dragTR = dragBL = dragBR = false;
            }

            function mouseMove(e) {
              mouseX = e.pageX - this.offsetLeft-5;
              mouseY = e.pageY - this.offsetTop-5;
              if (object_list.length ==  0){
                  return;
              }
              if(dragTL){
                object_list[to_edit][1].w += object_list[to_edit][1].startX-mouseX;
                object_list[to_edit][1].h += object_list[to_edit][1].startY-mouseY;
                object_list[to_edit][1].startX = mouseX;
                object_list[to_edit][1].startY = mouseY;
              } else if(dragTR) {
                object_list[to_edit][1].w = Math.abs(object_list[to_edit][1].startX-mouseX);
                object_list[to_edit][1].h += object_list[to_edit][1].startY-mouseY;
                object_list[to_edit][1].startY = mouseY;
              } else if(dragBL) {
                object_list[to_edit][1].w += object_list[to_edit][1].startX-mouseX;
                object_list[to_edit][1].h = Math.abs(object_list[to_edit][1].startY-mouseY);
                object_list[to_edit][1].startX = mouseX;  
              } else if(dragBR) {
                object_list[to_edit][1].w = Math.abs(object_list[to_edit][1].startX-mouseX);
                object_list[to_edit][1].h = Math.abs(object_list[to_edit][1].startY-mouseY);
              }
                ctx.clearRect(0,0,canvas.width,canvas.height);
                draw();
            }

        
        
            function draw() {
            
              ctx.drawImage(background,0,0);
              for (let i = 0; i < object_list.length; i++){
                  tmp_rect = object_list[i][1];
                  tmp_object = object_list[i][0]
                  ctx.strokeStyle="#66ff00ff"
                  ctx.lineWidth=5;
                  ctx.strokeRect(tmp_rect.startX, tmp_rect.startY, tmp_rect.w, tmp_rect.h);
                  ctx.font = '28px serif';
                  ctx.fillStyle="#66ff00";
                  ctx.fillText(tmp_object, tmp_rect.startX, tmp_rect.startY-2);
              }

            }
        
        
    </script>
    </canvas>
        <button id="export" style="vertical-align:top" onclick="export_current()"> Export</button>
        <button id="next" style="width:100px;height:50px;" onclick="next_image()"> Next</button>

</body>
</html>
